
body {
    background-color: #d1f5dc;
    background-image: url("wallpapper.png");
}
.index{
    font-family: 'open sans';
}

.index h1{
    text-align: center;
    margin:40px 0 15px 0;
    font-weight: 500;
    font-size: 50px;
    color: rgb(252, 54, 252);
}

.boton_1{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: #006505;
    background-color: #82b085;
    border-radius: 15px;
    border: 3px double #006505;
    text-align: center;
  }
.boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
}

.index img{
    width: 800px;
    height: 500px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.index p{
    text-align: center;
    color: rgb(255, 0, 212);
    font-size: 30px;
    background-color: #ffffff;
    border: rgb(0, 0, 0) 2px solid;
    margin: 20px;
}

#register {
    width: 400px;
  }
  
  #register2 {
    width: 500px;
  }
  
  #register2 p {
    margin-top: 20px;
  }
  
  label {
    color: #00f7cd;
    font-weight: bold;
    display: block;
    width: 130px;
    float: left;
  }
  label:after { content: ": " }
  
  input {
    padding: 3px;
    box-shadow: 3px 3px 5px rgb(255, 10, 243);
    font-size: 14px;
    font-weight: 600;
    width: 300px;
  }
  
  #button {
    padding:10px;
    border: 1px solid gray;
    background-color:#B4886B;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    font: inherit;
  }
  
  #button:focus {
    outline: 2px solid gray;
    font-weight: bold;
    color: rgb(255, 0, 242);
  }
  
  #button:hover {
    background-color: orange;
    box-shadow: 3px 3px 5px grey;
    cursor: pointer;
  }


.galeria{
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
    color: rgb(252, 54, 252);
}

.linea{
    border-top: 5px solid #0077C0;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(250, 90, 237, 0.781) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2{
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size:40px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}


/* Navigation */

.nav-container {
    background: rgba(250, 90, 237, 0.781);
    box-shadow: 0px 8px 24px rgba(61, 233, 233, 0.1);
    height: 72px;
    margin-top: 0;
    z-index: 500;
    position: relative;
  }
  
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav .logo {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    color: #021718;
  }
  
  .nav-items li {
    list-style: none;
    margin-right: 100px;
  }
  
  .nav-items li:nth-last-of-type(1) {
    margin: 0;
  }
  
  .nav-items li a {
    color: #000000;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }
